<!DOCTYPE html>
<html lang="en">
	<head>
        <title>MEST Strike Force - Search</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../../scripts/rateit/src/rateit.css" rel="stylesheet" type="text/css">
		<link href="../../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../../scripts/css/search/search.css" rel="stylesheet" media="screen">
		<link href="../../scripts/css/search-result.css" rel="stylesheet" media="screen">
		<link href="../../scripts/iCheck/skins/line/green.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/mentorcaption.css">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/captionstyle.css">
		<link href="../../scripts/iCheck/skins/flat/purple.css" rel="stylesheet">
		<link href="../../scripts/iCheck/skins/flat/pink.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/search/search-result-mentor.css">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/search/custom.css">
		<style>
				body{
					background: #f5f5f5;
				}
				#mentor-label {
					background: #ddd;
					border-radius: 0px;
				}
				#mentors2 {
					margin-top: -20px; 
				}
				.accordion-group {
					background: #fff;

				}
				#tech-list ul li {
					width: 23%;
				}
				.rateit button.rateit-reset {
					margin-top: 9px;
					margin-right: 6px;
				}
				#myModal {
					background-color: #D7D7D7;
					width: 90%;
					margin-left: -45%;
				}
				#position-description {
					margin-top: 3px;
					font-weight: normal;
					font-size: 60%;
				}
				#position-duration-description {
					margin-top: 0px;
				}
				.navbar-inverse .navbar-inner {
				  background-image: none;
				  background-color: #222;
				}
				.navbar .brand {
					display: block;
					float: left;
					padding: 15px 20px 10px;
					margin-left: -20px;
					font-size: 18px;
					font-weight: 200;
					color: #777;
				}
			</style>

<!-- start Dropifi --> <script type='text/javascript' src='https://s3.amazonaws.com/dropifi/js/widget/dropifi_widget.min.js'></script><script type='text/javascript'>document.renderDropifiWidget('d50c6bd9e2b036bdbc82532cf493b82a-1384997155883');</script> <!-- end Dropifi -->
	</head>

	
	<body>
		<div id="navigation-bar" class="row">
			<div class="navbar navbar-inverse navbar-fixed-top">
			    <div class="navbar-inner">
			        <div class="container">
			          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
				      <a href="/" class="brand">MEST Mentor Platform</a>			          
			          <div class="nav-collapse collapse pull-right">
			            <ul class="nav">
		            	{% if user.user_profile == "Administrator" %}
			              <li>
			                <a href="/admin">Dashboard</a>
			              </li>
		            	{% endif %}
			              <li class="active">
			                <a href="/search">Search</a>
			              </li>
			              <li class="">
			                <a href="/messages">Messages</a>
			              </li>
						  <li class="dropdown">
						   	  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{user.first_name}}<b class="caret"></b></a>
							  <ul class="dropdown-menu">
								  <li id="logout"><a href="/signout">Logout</a></li>
							  </ul>
						  </li>
			            </ul>
			          </div>
			        </div>
			    </div>
			</div>
		</div>
		<div id="row-fluid">
			<div class="container-fluid">
			  <div class="row-fluid">
			    <div class="span2 pull-left" id="search-side-bar">
			    	<div class="accordion" id="accordion2">
			    	  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					      	Search result
					      	<i class="icon-circle-arrow-down pull-right icon-white icon" onmouseover="this.className='icon-circle-arrow-down pull-right icon'" onmouseout="this.className='icon-circle-arrow-down pull-right icon-white icon'"></i>
					      </a>
					    </div>
					    <div id="collapseOne" class="accordion-body collapse in">
					      <div class="accordion-inner item" id="no-of-mentors">
					        <p>Mentors (0)</p>
					      </div>
<!-- 					      <div class="accordion-inner item" id="no-of-resources">
					        <p>Resources (0)</p>
					      </div> -->
					    </div>
					  </div>
					  
					</div>
			    </div>
			    <div class="span9 pull-left" id="search-main">
			    	
			    	<div id="search-fields" class="row-fluid">
			    		<ul class="nav nav-pills">
						  <li id="topic-nav" class="active"><a href="#topics" data-toggle="tab">Search for Mentor by Expertise</a></li>
								<input type="hidden" name="search-button-data-sectors" id="search-button-data-sectors" value="[]">
								<input type="hidden" name="search-button-data-topics"  id="search-button-data-topics" value="[]">
						  <li class="" id="sector-nav"><a href="#sectors" data-toggle="tab">Search for Mentor by Industry</a></li>
						</ul>
						<div class="tab-content item row-fluid " id="tab-content">
							<div class="tab-pane row-fluid active" id="topics">
								<div class="row">
									<div class="span6 first"> 
										
										<div class="row-fluid">
											<div id="analytics" class="span12 tp">
												<label>ANALYTICS</label>
												<ul><span>
												<li><input type="checkbox"><label>Data Mining</label></li>
												<li><input type="checkbox"><label>Funnels</label></li>
												<li><input type="checkbox"><label>Google Analytics</label></li>
												<li><input type="checkbox"><label>Mobile Analytics</label></li>
												<li><input type="checkbox"><label>Web Analytics</label></li>
												</span></ul>
											</div>	
										</div>
										<hr>
										<div class="row-fluid">
											<div id="business-development" class="span12 tp">
												<label>BUSINESS DEVELOPMENT</label>
												<ul><span>
												<li><input type="checkbox"><label>Customer Development</label></li>
												<li><input type="checkbox"><label>Customer Service</label></li>
												<li><input type="checkbox"><label>Market Research</label></li>
												<li><input type="checkbox"><label>Partnerships Sponsorship</label></li>
												<li><input type="checkbox"><label>Sales</label></li>
												</span></ul>
											</div>	
										</div>
										<hr>
										<div class="row-fluid">
											<div id="design" class="span12 tp">
												<label>DESIGN</label>
												<ul><span>
												<li><input type="checkbox"><label>Game Design</label></li>
												<li><input type="checkbox"><label>Graphic Design</label></li>
												<li><input type="checkbox"><label>Infographics</label></li>
												<li><input type="checkbox"><label>Interactive Design</label></li>
												<li><input type="checkbox"><label>Product Design</label></li>
												<li><input type="checkbox"><label>UI</label></li>
												<li><input type="checkbox"><label>Usability Testing</label></li>
												<li><input type="checkbox"><label>UX</label></li>
												</span></ul>
											</div>
										</div>
										<hr>	
										<div class="row-fluid">
											<div id="finance-accounting" class="span12 tp">
												<label>FINANCIAL/ACCOUNTING</label>
												<ul><span>
												<li><input type="checkbox"><label>Accounting Best Practices</label></li>
												<li><input type="checkbox"><label>Accounting Software</label></li>
												<li><input type="checkbox"><label>Financial Models</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
										<div class="row-fluid">
											<div id="human-resources" class="span12 tp">
												<label>HUMAN RESOURCES</label>
												<ul><span>
												<li><input type="checkbox"><label>Coaching And Leadership</label></li>
												<li><input type="checkbox"><label>Hiring</label></li>
												<li><input type="checkbox"><label>Interviewing</label></li>
												<li><input type="checkbox"><label>Recruitment</label></li>
												<li><input type="checkbox"><label>Training</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
										<div class="row-fluid">
											<div id="legal" class="span12 tp">
												<label>LEGAL</label>
												<ul><span>
												<li><input type="checkbox"><label>Contract Formulation</label></li>
												<li><input type="checkbox"><label>Copyrighting</label></li>
												<li><input type="checkbox"><label>Incorporation</label></li>
												<li><input type="checkbox"><label>Intellectual Property</label></li>
												<li><input type="checkbox"><label>Licensing</label></li>
												<li><input type="checkbox"><label>Negotiations</label></li>
												<li><input type="checkbox"><label>Trademarks</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
									</div>	
										
									<div class="span6 first">
										<div class="row-fluid">
											<div id="marketing" class="span12 tp">
												<label>MARKETING</label>
												<ul><span>
												<li><input type="checkbox"><label>Affiliate Marketing</label></li>
												<li><input type="checkbox"><label>Branding</label></li>
												<li><input type="checkbox"><label>Email Marketing</label></li>
												<li><input type="checkbox"><label>Guerilla Marketing</label></li>
												<li><input type="checkbox"><label>Internet Marketing</label></li>
												<li><input type="checkbox"><label>Pricing</label></li>
												<li><input type="checkbox"><label>Viral Marketing</label></li>
											</div>	
										</div>
										<hr>
										<div class="row-fluid">
											<div id="mest-strike-force" class="span12 tp">
												<label>MEST STRIKE FORCE</label>
												<ul><span>
												<li><input type="checkbox"><label>Scaling Expert</label></li>
												<li><input type="checkbox"><label>SEO Expert</label></li>
												<li><input type="checkbox"><label>UI/UX Expert</label></li>
												<li><input type="checkbox"><label>Virality Expert</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
										<div class="row-fluid">
											<div id="operations" class="span12 tp">
												<label>OPERATIONS</label>
												<ul><span>
												<li><input type="checkbox"><label>Process Optimization</label></li>
												<li><input type="checkbox"><label>Quality Assurance/ Management</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
										<div class="row-fluid">
											<div id="project-management" class="span12 tp">
												<label>PROJECT MANAGEMENT</label>
												<ul><span>
												<li><input type="checkbox"><label>Agile Product Development</label></li>
												<li><input type="checkbox"><label>Lean Startup Methodology</label></li>
												<li><input type="checkbox"><label>Project Management Tools</label></li>
												<li><input type="checkbox"><label>Scrum</label></li>
											</div>
										</div>
										<hr>	
										<div class="row-fluid">
											<div id="sales" class="span12 tp">
												<label>SALES</label>
												<ul><span>
												<li><input type="checkbox"><label>Sales Funnel</label></li>
												<li><input type="checkbox"><label>Sales Management</label></li>
												<li><input type="checkbox"><label>Sales Process</label></li>
												</span></ul>
											</div>
										</div>
										<hr>
										<div class="row-fluid">
											<div id="technology" class="span12 tp">
												<label>TECHNOLOGY</label>
											</div>
										</div>
										<hr>
									</div>

								</div>

								<div class="row" id="tech-list">
									<div class="span12 first">
										<div class="row-fluid" id="list-tech">
											<ul><span>
		                                    <li><input type="checkbox"><label>Advanced Web Applications</label></li>
		                                    <li><input type="checkbox"><label>Algorithms</label></li>
		                                    <li><input type="checkbox"><label>Analytics</label></li>
		                                    <li><input type="checkbox"><label>Android</label></li>
		                                    <li><input type="checkbox"><label>Artificial Intelligence</label></li>
		                                    <li><input type="checkbox"><label>Big Data</label></li>
		                                    <li><input type="checkbox"><label>Computer Graphics</label></li>
		                                    <li><input type="checkbox"><label>Copywriting</label></li>
		                                    <li><input type="checkbox"><label>Database</label></li>
		                                    <li><input type="checkbox"><label>Data Mining</label></li>
		                                    <li><input type="checkbox"><label>Infrastructure Scaling</label></li>
		                                    <li><input type="checkbox"><label>Interactive User Interfaces</label></li>
											<li><input type="checkbox"><label>iOS</label></li>
		                                    <li><input type="checkbox"><label>Java</label></li>
		                                    <li><input type="checkbox"><label>J2ME</label></li>
		                                    <li><input type="checkbox"><label>Linux</label></li>
		                                    <li><input type="checkbox"><label>Mathematics</label></li>
		                                    <li><input type="checkbox"><label>Networking</label></li>
		                                    <li><input type="checkbox"><label>NLP</label></li>
		                                    <li><input type="checkbox"><label>NoSQL + Memcached</label></li>
		                                    <li><input type="checkbox"><label>Performace Optimization</label></li>
		                                    <li><input type="checkbox"><label>PHP</label></li>
		                                    <li><input type="checkbox"><label>Python</label></li>
		                                    <li><input type="checkbox"><label>Ruby on Rails</label></li>
		                                    <li><input type="checkbox"><label>Security</label></li>
		                                    <li><input type="checkbox"><label>SEO</label></li>
		                                    <li><input type="checkbox"><label>Server Side</label></li>
		                                    <li><input type="checkbox"><label>System Analysis And Design</label></li>
											</ul></span>
										</div>									
									</div>	
								</div>																				
							</div>
							<div class="tab-pane row-fluid" id="sectors">
								<ul><span>
								<li><input type="checkbox"><label>Advertising</label></li>
								<li><input type="checkbox"><label>Cloud Services</label></li>
								<li><input type="checkbox"><label>Education</label></li>
								<li><input type="checkbox"><label>Enterprise Software</label></li>
								<li><input type="checkbox"><label>Events</label></li>
								<li><input type="checkbox"><label>Fashion</label></li>
								<li><input type="checkbox"><label>Financial Services</label></li>
								<li><input type="checkbox"><label>Games</label></li>
								<li><input type="checkbox"><label>Clean Tech</label></li>
								<li><input type="checkbox"><label>Hardware</label></li>
								<li><input type="checkbox"><label>Healthcare</label></li>
								<li><input type="checkbox"><label>SMB</label></li>
								<li><input type="checkbox"><label>Media</label></li>
								<li><input type="checkbox"><label>Mobile</label></li>
								<li><input type="checkbox"><label>Music</label></li>
								<li><input type="checkbox"><label>Payments</label></li>
								<li><input type="checkbox"><label>Photography</label></li>
								<li><input type="checkbox"><label>Recruting</label></li>
								<li><input type="checkbox"><label>Retail</label></li>
								<li><input type="checkbox"><label>Sharing</label></li>
								<li><input type="checkbox"><label>Social Impact</label></li>
								<li><input type="checkbox"><label>Sports</label></li>
								<li><input type="checkbox"><label>Travel</label></li>
								<li><input type="checkbox"><label>Video</label></li>
								</span></ul>
							</div>
						</div>
			    	</div>	

			    	<div id="search-results-tags" class="item row-fluid">
						<ul ><span>
						</span></ul>
			    	</div>
			    	
			    	<div id="search-results-all" class="row-fluid">
			    		
<!-- 			    		<div class="item row-fluid" id="resources">

			    			<div class="row-fluid" id="resources-label"><label><h5>Resources</h5></label></div>
			    			<div class="row-fluid search-result-resource" id="search-result">
			    			<div class="row-fluid">
			    			<div class="row-fluid found-resource" id="found-resource">
				    			<div class="row-fluid" id="found-resource-text">
				    				<div class="span1"><img class="resource-icon" src="../../scripts/img/resource.png" onmouseover="this.src='../../scripts/img/resource-black.png'" onmouseout="this.src='../../scripts/img/resource.png'"></div>
				    				<div class="span10" id="resource-text">
				    					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean </span>
				    				</div>
				    				<div class="span1"><img class="favorite-icon" src="../../scripts/img/favorites.png" onmouseover="this.src='../../scripts/img/favorites-black.png'" onmouseout="this.src='../../scripts/img/favorites.png'" ></div>
				    			</div>
				    			<div class="row-fluid">
				    				<div class="span7 offset5">
				    					<div class="row-fluid" id="resource-captions">
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/comment.png" onmouseover="this.src='../../scripts/img/comment-black.png'" onmouseout="this.src='../../scripts/img/comment.png'">
						    					&nbsp;<span> 4 comments</span>
						    				</div>
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/download.png" onmouseover="this.src='../../scripts/img/download-black.png'" onmouseout="this.src='../../scripts/img/download.png'">
						    					&nbsp;<span>download</span>
						    				</div>
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    				</div>
				    					</div>
				    				</div>
				    			</div>
			    			</div>
			    			<div class="row-fluid found-resource" id="found-resource">
				    			<div class="row-fluid" id="found-resource-text">
				    				<div class="span1"><img class="resource-icon" src="../../scripts/img/resource.png" onmouseover="this.src='../../scripts/img/resource-black.png'" onmouseout="this.src='../../scripts/img/resource.png'"></div>
				    				<div class="span10" id="resource-text">
				    					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean </span>
				    				</div>
				    				<div class="span1"><img class="favorite-icon" src="../../scripts/img/favorites.png" onmouseover="this.src='../../scripts/img/favorites-black.png'" onmouseout="this.src='../../scripts/img/favorites.png'" ></div>
				    			</div>
				    			<div class="row-fluid">
				    				<div class="span7 offset5">
				    					<div class="row-fluid" id="resource-captions">
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/comment.png" onmouseover="this.src='../../scripts/img/comment-black.png'" onmouseout="this.src='../../scripts/img/comment.png'">
						    					&nbsp;<span> 4 comments</span>
						    				</div>
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/download.png" onmouseover="this.src='../../scripts/img/download-black.png'" onmouseout="this.src='../../scripts/img/download.png'">
						    					&nbsp;<span>download</span>
						    				</div>
						    				<div class="span4">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    					<img class="" src="../../scripts/img/heart.png" onmouseover="this.src='../../scripts/img/heart-black.png'" onmouseout="this.src='../../scripts/img/heart.png'">
						    				</div>
				    					</div>
				    				</div>
				    			</div>
			    			</div>
			    			</div>
			    		</div>
			    		</div> -->

			    		<div class="row-fluid" id="mentors">
			    			<div class="navbar navbar-inner block-header" id="mentor-label"><label><h5>Mentors</h5></label></div>
				    		<div class="item" id="mentors2">
				    			<div class="row-fluid search-result-mentor">
				    				<ul class="grid cs-style-3">
								    </ul>
				    			</div>
				    		</div>
				    	</div>

			    		<div class="row-fluid" id="full-profile-mentor">
			    			<div class="row-fluid" id="full-profile-nav">					

								<!-- MODAL========== -->
								 
								<!-- Modal -->
								<div id="myModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								    <h3 id="myModalLabel">Mentor Profile</h3>
								  </div>
								  <div class="modal-body">
								    <div class="cover-banner" id="mentor-full-view"> <!-- mentor profile begins -->	
					    			<div class="row-fluid" id="full-profile-content">
					    				<div class="span7 item" id="full-profile-content-left">


					    					 <div class="" id="mentor-full-view"> <!-- mentor profile begins -->	
								    			<div class="row item" id="profile-head">
											    	
														<div class="span5" id="profile-brief-img">
															<ul class="grid">
														        <li class="">
														          <figure class="">
														            <div>
														            	<img  id="modal-pic" src="" alt="picture">
														            </div>
														          </figure>
														        </li>
														    </ul>
										            		<input type="hidden" id="backing6">
															<div class="rateit" id="rateit5" data-rateit-min="0"  data-rateit-ispreset="true">
															</div>
														</div>
														<div class="span7" id="profile-brief-text">
															<div class="row-fluid">
																<label id="profile-name">
																	<h3 id="mentor-profile-name">
																		<strong>
																		</strong>
																	</h3>
																</label>
																<span>
																	<label id="profile-company-position">
																		<p></p>
																	</label>
																</span>
															</div>
															<div class="row-fluid" id="profile-brief-location">
																<span></span>
															</div>
															<div class="row-fluid" id="profile-brief-schedule">
									    						<span></span>
															</div>
														</div>
													
								    			</div>
								    		</div>	

					    					<div class="row-fluid"  id="profile-summary">
					    						<div class="row-fluid" id="profile-summary-label"><label><h5>SUMMARY</h5></label></div>
					    						<div class="row-fluid"  id="profile-summary-content">
						    						<span>
							    						<p></p>
						    						</span>
						    					</div>
					    					</div>
					    					<div class="row-fluid" id="profile-resume">
					    						<div class="profile-resume-label"><label><h5>EXPERIENCE</h5></label></div>
					    						<div class="row-fluid" id="profile-resume-list">
					    						</div>
					    					</div>
					    					<div class="row-fluid" id="profile-education">
					    						<div class="profile-education-label"><label><h5>Education</h5></label></div>
					    						<div class="row-fluid" id="profile-education-list">
					    						</div>
					    					</div>
					    				</div>
					    				<div class="span4 pull-left" id="full-profile-content-right">
											
											<div class="row-fluid skills" id="profile-brief-skills-tags">
												<div class="row-fluid tags" id="">
					    							<label>ENDORSED FOR</label>
					    						</div>
												<span> </span>
											</div>

				    						<div class="row-fluid skills" id="industries">
				    							<div class="row-fluid tags" id="">
					    							<label>INDUSTRIES</label>
					    						</div>
				    							<span></span>
				    						</div>

				    						<div class="row-fluid skills" id="expertise">
				    							<div class="row-fluid tags" id="">
					    							<label>EXPERTISE</label>
					    						</div>
				    							<span></span>
				    						</div>

					    					<div class="row-fluid item" id="commments-and-ratings">
					    						<div class="row-fluid"><label><p>COMMENTS/RATINGS</p></div>
					    						<div class="row-fluid" id="comments-container">
					    						</div>
					    						<div class="row-fluid" id="new-comment-container">
					    							<div class="row-fluid" id="new-comment-textarea">
						    							<textarea id="comment-textarea"></textarea>
					    							</div>
					    							<div class="row-fluid" id="comment-submit-container">
						    							<button id="comment-submit-button" class="pull-right btn">Submit</button>
					    							</div>
					    						</div>
					    					</div>

					    				</div>
					    			</div>									
								</div> <!-- mentor profile ends -->

								  </div>
								  <div class="modal-footer">
								    <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
								    	<a id="compose-message" class="btn btn-primary send-message" target="_blank">SEND MESSAGE</a>
								  </div>
								</div>
								 <!-- MODAL =============== -->
			    			</div>
							
			    			
			    		</div>	
			    	</div>	

			    </div>
			  </div>
			</div>
		</div> <!-- results container ends -->


		<script src="../../scripts/js/modernizr.custom.js"></script>
    	<script src="../../scripts/assets/js/jquery-2.0.3.min.js"></script>
    	<script src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
    	<script src="../../scripts/iCheck/jquery.icheck.js"></script>
    	<script src="../../scripts/iCheck/iCheck.inputStyle.js"></script>
    	<script src="../../scripts/js/ajax/ajax_calls.js"></script>
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="../../scripts/rateit/src/jquery.rateit.js" type="text/javascript"></script>
		<script type="text/javascript">
		    $(function () {
				$('#rateit5').rateit({ max: 5, step: 0.5, backingfld: '#backing6' }); 
			});
			$(document).ready(
				function(){
					$(".span12.tp label:first-child").bind("click", function() {
						if($(this).hasClass("active")){
							console.log("hello");
							hideLists();
						}
						else{
							hideLists();
							var parent = $(this).parent();
							var parent_id = parent.attr("id");
							console.log(parent_id);
							if (parent_id == "technology"){
								$("#tech-list").show();								
								$(this).addClass("active");
							}
							else {
								var list = parent.find("ul");
								list.show();
								$(this).addClass("active");
							}								
						}
							
					})
			});
			function hideLists(){
				$(".span12.tp ul").hide();
				$(".span12.tp label").removeClass("active");
				$("#tech-list").hide();
			}
		</script> 
	</body>
</html>
