body{
	background-color: #1C364E;
	color: #fff;
}

.inbox {
	margin-top: 50px;
}
.sidebar{
	/*border-right:1px solid #fff;*/
	/*height: 500px;*/
	margin-top: 28px;
}
.sidebar ul{
	text-decoration: none;
}

.sidebar ul>li{
/*border: 1px solid #fff;*/
	background-color: #3498DB;
	text-align: center;
	width: 150px;
	margin: 2px;
	height: 35px;
	vertical-align: middle;
	padding-top: 6px;
	text-decoration: none;
}

.sidebar ul>li:hover, .sidebar ul>li:active{
	background-color: #EC008C;
	color: #fff;
	font-weight: bolder;
}

.mail-actions ul>li{
	border: 1px solid #fff;
	display: inline;
	background-color: #3498DB;
	height: 35px;
	margin: 35px;
}

.mail {
	background-color: #fff;
	min-height: 450px;
	/*margin-left: -30px;*/
}
