body{
	background-color: #1C364E;
}

.navrow{
	background-color: #fff
}

.featurette-heading{
	color: #fff;
}
.prog-description{
	/*border: 3px solid #333;*/
	font-size: 15px;
	color: #fff;
	font-weight: normal;
	line-height: normal;
	text-align: justify;
}

.col-md-2 img {
	border: 2px solid #333;
	border-radius: 100%;
	max-width: 225px
}
.col-md-2 img:hover {
	border: 3px solid #EC008C;
}
.row {
	margin-bottom: 15px;
}

hr { 
	display: block; height: 1px;
    border: 0; border-top: 1px solid #3498DB;
    margin: 1em 0; padding: 0; 
}

.button {
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #3498DB;
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 100px;
}

.button:hover, .button:active{
	background-color: #EC008C;
}