	<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../../scripts/rateit/src/rateit.css" rel="stylesheet" type="text/css">
		<link href="../../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="../../scripts/css/search/search.css" rel="stylesheet" media="screen">
		<link href="../../scripts/css/search-result.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/mentorcaption.css">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/captionstyle.css">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/search/search-result-mentor.css">
		<link rel="stylesheet" type="text/css" href="../../scripts/css/search/custom.css">
		<style>
				body{
					background: #f5f5f5;
				}
				#mentor-label{
					/*background: #eee;*/
					background: #ddd;
					border-radius: 0px;
					/*border: none;*/
				}
				#mentors2{
					margin-top: -20px; 
				}
				.modal #profile-brief-skills-tags ul li.selected,
				.modal #expertise span ul li.selected,
				.modal #industries span ul li.selected{
					background-color: rgba(80, 116, 85, 0.84);
					color: #fff;
				}
				.modal #profile-brief-skills-tags ul li.selected:hover,
				.modal #expertise span ul li.selected:hover,
				.modal #industries span ul li.selected:hover{
					background-color: #e5e5e5;
					color: #000;
				}
				.modal #profile-brief-skills-tags ul li:hover,
				.modal #expertise span ul li:hover,
				.modal #industries span ul li:hover{
					background-color: rgba(80, 116, 85, 0.84);
					color: #fff;
				}
				.modal #profile-brief-skills-tags ul li,
				.modal #expertise span ul li,
				.modal #industries span ul li{
					cursor: pointer;
					margin-bottom: 10px;
					margin-right: 10px;
					font-size: 14px;
					width: 22%;
				}
				
				.modal #industries span ul li {
					width: 30%;
					margin-bottom: 5px;
					padding: 8px;
					font-size: 18px;
				}

				#sectorModal #industries{
					width: 95%;
				}

				#sectorModal, #skillsModal {
					width: 888px;
				}
				#sectorModal .modal-body,
				#skillsModal .modal-body  {
					overflow-y: hidden;
					overflow-x: hidden; 
					background: #eee;
				}

				#myModal{
					width: 1150px;
					margin-left:-30%;
				}
				.modal {
					left: 37%;
				}
				.modal-header {
					background: #f5f5f5;
				}
				#badges .span2 {
					width: 5%;
					/*width: 5.529915%;*/
				}
				#profile-head {
					margin-top: 10px;
				}
				#badges {
					margin-bottom: 20px;
					margin-top: 23px;
				}
				#modal-pic {
					border-radius: 3%;
				}
				#contributionModal{
					top: 10%;
					/*left: 46%;*/
					/*width: 670px;*/
					/*top: 30%;*/
					left: 46%;
					width: 640px;
				}
				#contributionModal .modal-header,
				#contributionModal .modal-body,
				#contributionModal .modal-footer {
					background: #fff;
					text-align: center;
					border: none;
					color: #777;
				}
				#contributionModal .modal-body{
					text-align: left;
				}
				#contributionModal img {
					width: 260px;
					height: 320px;
					text-align: center;
					position: absolute;
					z-index: 100000;
					top: -30px;
					left: -72px;
/*					width: 251px;
					height: 380px;
					text-align: center;
					position: absolute;
					z-index: 100000;
					top: -30px;
					left: -70px;*/
				}
				#contributionModal .modal-footer {
					/*text-align: right;*/	
				}
/*				#badges .span2:hover {
					width: 12%;
				}*/

				.modal #expertise .row-fluid ul li {
					padding: 6px;
				}
				.modal #expertise span ul li {
					width: 30%;
				}
				.navbar-inverse .navbar-inner {
				    background-image: none;
				    background-color: #222;
				}
				.navbar .brand {
					display: block;
					float: left;
					padding: 15px 20px 10px;
					margin-left: -20px;
					font-size: 18px;
					font-weight: 200;
					color: #777;
				}
				figure{
					margin-right: 0px;					
				}				
				figure.span2{
					padding: 15px;
					padding-top: 20px;
					padding-bottom: 20px;
					cursor: pointer;
				}
				figure.span2.selected, figure.span2:hover{
					border: 1px solid #7bb7fa;
					border-radius: 3px;
					background: #f5f5f5;
					box-shadow: none;
				}
				#full-profile-content-right{
					margin-bottom: 30px;
				}
		</style>
	</head>

	
	<body>
		<div id="navigation-bar" class="row">
			<div class="navbar navbar-inverse navbar-fixed-top">
			    <div class="navbar-inner">
			        <div class="container">
			          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
				      <a href="/" class="brand">MEST Strike Force</a>				          
			          <div class="nav-collapse collapse pull-right">
			            <ul class="nav">
			              <li class="active">
			                <a href="#">{{mentor.first_name}} {{mentor.last_name}}</a>
			              </li>
			              <li class="pull-right">
			                <a href="/signout">Signout</a>
			              </li>
			            </ul>
			          </div>
			        </div>
			    </div>
			</div>
		</div>
		<div id="row-fluid">
			<div class="container-fluid">
			  <div class="row-fluid">
			    <div class="span10 offset1 	pull-left" id="search-main">
					<div class="row-fluid">
					    <div class="cover-banner" id="mentor-full-view"> <!-- mentor profile begins -->	
			    			<div class="row-fluid" id="full-profile-content">
			    				<div class="span7 item" id="full-profile-content-left">

			    					<div class="" id="mentor-full-view"> <!-- mentor profile begins -->	
						    			<div class="row item" id="profile-head">
									    	
											<div class="span5" id="profile-brief-img">
									            <div class="row-fluid">
									            	<img id="modal-pic" src="{{mentor.picture}}" alt="picture" style="height: 230px;width: 230px;">
									            </div>
											</div>
											<div class="span7" id="profile-brief-text">
												<div class="row-fluid">
													<h3><strong>{{mentor.first_name}} {{mentor.last_name}}</strong></h3>
													<span id="profile-company-position">
														<p>
															{% if mentor.positions.count() > 0 %}
																{% for position in mentor.positions.filter('is_current =', True) %}
																{{position.title}} at {{position.company}}
																{% endfor %}
															{% else %}
																{% for school in mentor.educations.order('-end_date').fetch(limit=1) %}
																<strong>Education:</strong> {{school.school_name}}
																{% endfor %}
															{% endif %}
														</p>
													</span>
												</div>
												<div class="row-fluid" id="profile-brief-location">
													<p>														
														<span>
															<strong>Location:</strong>
															{{mentor.location}}															
														</span>
													</p>
												</div>
												<div class="row-fluid" id="profile-brief-schedule">
													<p>
							    						<span>
							    							<strong>Time zone:</strong> {{mentor.programs[0].time_zone}}
							    						</span>														
													</p>
												</div>
												<div class="row-fluid" id="hours-to-commit">
													<p>
							    						<span>
							    							<strong>Hours Committed:</strong> {{mentor.programs[0].hours}} hour(s)
							    						</span>														
													</p>
												</div>
												<div class="row-fluid" id="hours-completed">
													<p>
							    						<span>
							    							<strong>Hours Completed:</strong> {{mentor|hours_committed}} hour(s)
							    						</span>														
													</p>
												</div>
											</div>
											
						    			</div>
						    		</div>	

									<div class="row-fluid badges" id="badges">
										{% set count = mentor|hours_committed %}
			    						<div class="span2" id="img1">
			    							<a href="#" data-toggle="tooltip" class="tool" data-placement="bottom" title="" data-original-title="Scout Master">
				    							{% if count >= 10 %}
					    							<img src="../../scripts/assets/img/mentorbadges/Badge10.png" alt="">

				    							{% else %}
					    							<img src="../../scripts/assets/img/mentorbadges/BadgeSilhouette.png" alt="">

				    							{% endif %}
			    							</a>  						
			    						</div>	

			    						<div class="span2" id="img2">			    							
			    							<a href="#" data-toggle="tooltip" class="tool" data-placement="bottom" title="" data-original-title="Sensei">
				    							{% if count >= 25 %}
					    							<img src="../../scripts/assets/img/mentorbadges/Badge25.png" alt="">   							
				    							{% else %}
					    							<img src="../../scripts/assets/img/mentorbadges/BadgeSilhouette.png" alt="">  						
				    							{% endif %}
				    						</a>
			    						</div>		

			    						<div class="span2" id="img3">			    							
			    							<a href="#" data-toggle="tooltip" class="tool" data-placement="bottom" title="" data-original-title="Captain">
				    							{% if count >= 50 %}
					    							<img src="../../scripts/assets/img/mentorbadges/Badge50.png" alt="">   							
				    							{% else %}
					    							<img src="../../scripts/assets/img/mentorbadges/BadgeSilhouette.png" alt="">  						
				    							{% endif %}
				    						</a>
			    						</div>	

			    						<div class="span2" id="img4">				    						
			    							<a href="#" data-toggle="tooltip" class="tool" data-placement="bottom" title="" data-original-title="General">
				    							{% if count >= 100 %}
					    							<img src="../../scripts/assets/img/mentorbadges/Badge100.png" alt="">						
				    							{% else %}
					    							<img src="../../scripts/assets/img/mentorbadges/BadgeSilhouette.png" alt="">  						
				    							{% endif %}
				    						</a>
			    						</div>	
			    							
			    						<div class="span2" id="img5">			    							
			    							<a href="#" data-toggle="tooltip" class="tool" data-placement="bottom" title="" data-original-title="Grand Master">
				    							{% if count >= 250 %}
					    							<img src="../../scripts/assets/img/mentorbadges/Badge250.png" alt="">   						
				    							{% else %}
					    							<img src="../../scripts/assets/img/mentorbadges/BadgeSilhouette.png" alt="">  						
				    							{% endif %}
				    						</a>
			    						</div>	
			    					</div>

			    					<div class="row-fluid"  id="profile-summary">
			    						<div class="row-fluid" id="profile-summary-label"><span><h5>SUMMARY</h5></span></div>
			    						<div class="row-fluid"  id="profile-summary-content">
				    						<span>
					    						<p>
					    							{% if mentor.summary != None %}
					    							{{mentor.summary}}
					    							{% else %}
													{{mentor.programs[0].mini_bio}}
													{% endif %}
					    						</p>
				    						</span>
				    					</div>
			    					</div>
			    					{% if mentor.positions.count() > 0 %}
			    					<div class="row-fluid" id="profile-resume">
			    						<div class="profile-resume-label"><span><h5>EXPERIENCE</h5></span></div>
			    						<div class="row-fluid" id="profile-resume-list">
			    							{% for position in mentor.positions.order("-start_date").order('-end_date') %}
		    								<div class="row-fluid" id="profile-resume-item">
		    									<div class="row-fluid" id="resume-position-details">
			    									<p id="position-title"><b>Position: </b>{{position.title}}</p>
			    									<p id="position-company"><b>Company: </b>{{position.company}}</p>
													{% if position.is_current == True %}
													<p id="position-duration-description">
														<span id="position-duration">{{position.start_date}} - Present</span>
													</p>
													{% else %}
													<p id="position-duration-description">
														<span id="position-duration">{{position.start_date}} - {{position.end_date}}</span>
													</p>
													{% endif %}
													{% if position.summary != None %}
													<p id="position-description">{{position.summary}}</p>
													{% endif %}
												</div>
											</div>
			    							{% endfor %}
			    						</div>
			    					</div>
			    					{% endif %}
			    					{% if mentor.educations.count() > 0 %}
			    					<div class="row-fluid" id="profile-education">
			    						<div class="profile-education-label"><span><h5>Education</h5></span></div>
			    						<div class="row-fluid" id="profile-education-list">
			    							{% for school in mentor.educations.order("-start_date").order('-end_date') %}
			    								<div class="row-fluid" id="profile-education-item">
			    									<div class="row-fluid" id="education-school-details">
			    										<p id="education-school"> {{school.school_name}} <p>
			    										{% if school.field_of_study != None %}
			    										<p id="education-school-degree">{{school.field_of_study}}<p>
			    										{% endif %}
			    										<p id="education-school-duration-description"><span id="education-school-duration">{{school.start_date}} - {{school.end_date}}</span></p>
			    									</div> 										
		    									</div>
			    							{% endfor %}
			    						</div>
			    					</div>
									{% endif %}
			    				</div>
			    				<div class="span4 pull-left" id="full-profile-content-right">

			    					<div class="row-fluid contribution skills" id="hours-contributed" style="margin-top:0px;">
										<div id="piechart" class="row-fluid"></div>
										
				    					<div class="contributions" id="contributions">
				    						{% if mentor.programs[0].contributions.count() > 0 %}
					    						<table class="table table-bordered table-striped">
									              <thead>
									                <tr>
									                  <th>Company</th>
									                  <th>Hours</th>
									                </tr>
									              </thead>
									              <tbody>
					    							{% for contribution in mentor.programs[0].contributions.order("company") %}
									                <tr>
									                  <td>
									                  	<a href="#"  class="des" data-toggle="popover" data-placement="top" data-content="{{ contribution.description }}" title="" data-original-title='{{contribution.created.strftime("%d %b %Y")}}'>
									                  		{{ contribution.company }}
									                  	</a>
								                  	  </td>
									                  <td>{{ contribution.contributed_hours }}</td>
									                </tr>
					    							{% endfor%}
									              </tbody>
									            </table>
				    						{% endif %}
				    					</div>
										<button href="#contributionModal" class="btn-default btn-block btn" id="hours-contributed-button" role="button" data-toggle="modal">Add Hours</button>
			    					</div>


			    					<div id="skills_container" style="margin-top:12px;">
			    						
										<div class="row-fluid skills" id="profile-brief-skills-tags" style="margin-top:12px;">
											<div class="row-fluid tags" id="">
				    							<span><b>ENDORSED ON LINKEDIN FOR</b></span>
				    						</div>
											<span>
												<ul>
			    									{% if mentor.skills.count() > 0 %}
				    									{% for skill in mentor.skills.order('name') %}
															<li>{{skill.name}}</li>
				    									{% endfor %}
				    								{% else %}
					    								<li>None selected</li>
			    									{% endif %}
			    								</ul>
											</span>
										</div>

										<div class="row-fluid skills" id="key-skills">
											<div class="row-fluid tags" id="">
				    							<span><b>KEY SKILLS</b></span>
				    						</div>
				    						<div class="row-fluid">
												<span>
													<ul>
				    									{% if mentor.programs[0].key_skills.count() > 0 %}
					    									{% for skill in mentor.programs[0].key_skills.order('value') %}
																<li>{{skill.value}}</li>
					    									{% endfor %}
					    								{% else %}
						    								<li>None selected</li>
				    									{% endif %}
				    								</ul>
												</span>				    							
				    						</div>
											<div class="row-fluid">
				    							<a href="#skillsModal" role="button" class="btn" data-toggle="modal">Click here to edit</a>
											</div>
										</div>

			    						<div class="row-fluid skills" id="industries">
			    							<div class="row-fluid tags" id="">
				    							<span><b>INDUSTRIES</b></span>
				    						</div>
				    						<div class="row-fluid">
				    							<span>
				    								<ul>
				    									{% if mentor.programs[0].sectors.count() > 0 %}
					    									{% for sector in mentor.programs[0].sectors.order('value') %}
																<li>{{sector.value}}</li>
					    									{% endfor %}
					    								{% else %}
						    								<li>None selected</li>
				    									{% endif %}
				    								</ul>
				    							</span>
											</div>										
											<div class="row-fluid">
				    							<a href="#sectorModal" role="button" class="btn" data-toggle="modal">Click here to edit</a>
											</div>										
			    						</div>

			    						<div class="row-fluid skills" id="expertise">
			    							<div class="row-fluid tags" id="">
				    							<span><b>EXPERTISE</b></span>
				    						</div>
				    						<div class="row-fluid">			    							
				    							<span>
				    								<ul>
				    									{% if mentor.programs[0].topics.count() > 0 %}
					    									{% for topic in mentor.programs[0].topics.order('value') %}
																<li class="selectedd" data-topic-criteria="{{topic.criteria}}">{{topic.value}}</li>
					    									{% endfor %}
					    								{% else %}
						    								<li>None selected</li>
				    									{% endif %}
				    								</ul>
					    							<br>
				    							</span>
				    						</div>
											<div class="row-fluid">
				    							<a href="#myModal" role="button" class="btn" data-toggle="modal">Click here to edit</a>
											</div>
			    						</div>								
			    					
									</div>

			    				</div>
			    			</div>									
						</div>
					</div>
			    </div>
			  </div>
			</div>
		</div> <!-- results container ends -->
		
		<div id="myModal" class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>Edit Expertise</h3>
		  </div>
		  <div class="modal-body">
		  	<div class="row-fluid">
		  		<div class="span10 offset1">
					<div class="row-fluid skills" id="expertise">

						
						<div class="row-fluid tags">
							<label><b>ANALYTICS</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>
									
									<li class="{{ mentor.programs[0].topics|is_topic('Data Mining')}}" data-topic-criteria="Analytics">Data Mining</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Funnels')}}" data-topic-criteria="Analytics">Funnels</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Google Analytics')}}" data-topic-criteria="Analytics">Google Analytics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Mobile Analytics')}}" data-topic-criteria="Analytics">Mobile Analytics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Web Analytics')}}" data-topic-criteria="Analytics">Web Analytics</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>BUSINESS DEVELOPMENT</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>
									
									<li class="{{ mentor.programs[0].topics|is_topic('Customer Development')}}" data-topic-criteria="Business development">Customer Development</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Customer Service')}}" data-topic-criteria="Business development">Customer Service</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Market Research')}}" data-topic-criteria="Business development">Market Research</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Partnerships Sponsorship')}}" data-topic-criteria="Business development">Partnerships Sponsorship</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Sales')}}" data-topic-criteria="Business development">Sales</li>

								</ul>
							</span>
						</div>						
						<hr>
						<div class="row-fluid tags">
							<label><b>DESIGN</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>

									<li class="{{ mentor.programs[0].topics|is_topic('Usability Testing')}}" data-topic-criteria="Design">Usability Testing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Game Design')}}" data-topic-criteria="Design">Game Design</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Graphic Design')}}" data-topic-criteria="Design">Graphic Design</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Infographics')}}" data-topic-criteria="Design">Infographics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Interactive Design')}}" data-topic-criteria="Design">Interactive Design</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Product Design')}}" data-topic-criteria="Design">Product Design</li>

									<li class="{{ mentor.programs[0].topics|is_topic('UI')}}" data-topic-criteria="Design">UI</li>

									<li class="{{ mentor.programs[0].topics|is_topic('UX')}}" data-topic-criteria="Design">UX</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>FINANCIAL ACCOUNTING</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>
								
									<li class="{{ mentor.programs[0].topics|is_topic('Accounting Best Practices')}}" data-topic-criteria="Financial accounting">Accounting Best Practices</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Accounting Software')}}" data-topic-criteria="Financial accounting">Accounting Software</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Financial Models')}}" data-topic-criteria="Financial accounting">Financial Models</li>
								
								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>HUMAN RESOURCES</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>								
									
									<li class="{{ mentor.programs[0].topics|is_topic('Coaching And Leadership')}}" data-topic-criteria="Human resources">Coaching And Leadership</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Hiring')}}" data-topic-criteria="Human resources">Hiring</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Interviewing')}}" data-topic-criteria="Human resources">Interviewing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Recruitment')}}" data-topic-criteria="Human resources">Recruitment</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Training')}}" data-topic-criteria="Human resources">Training</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>LEGAL</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>
									
									<li class="{{ mentor.programs[0].topics|is_topic('Contract Formulation')}}" data-topic-criteria="Legal">Contract Formulation</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Copyrighting')}}" data-topic-criteria="Legal">Copyrighting</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Incorporation')}}" data-topic-criteria="Legal">Incorporation</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Intellectual Property')}}" data-topic-criteria="Legal">Intellectual Property</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Licensing')}}" data-topic-criteria="Legal">Licensing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Negotiations')}}" data-topic-criteria="Legal">Negotiations</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Trademarks')}}" data-topic-criteria="Legal">Trademarks</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>MARKETING</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>
								
									<li class="{{ mentor.programs[0].topics|is_topic('Affiliate Marketing')}}" data-topic-criteria="Marketing">Affiliate Marketing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Branding')}}" data-topic-criteria="Marketing">Branding</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Email Marketing')}}" data-topic-criteria="Marketing">Email Marketing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Guerilla Marketing')}}" data-topic-criteria="Marketing">Guerilla Marketing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Internet Marketing')}}" data-topic-criteria="Marketing">Internet Marketing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Pricing')}}" data-topic-criteria="Marketing">Pricing</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Viral Marketing')}}" data-topic-criteria="Marketing">Viral Marketing</li>

								</ul>
							</span>
						</div>	

						<hr>
						<div class="row-fluid tags" id="">
							<label><b>OPERATION</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>

									<li class="{{ mentor.programs[0].topics|is_topic('Process Optimization')}}" data-topic-criteria="Operations">Process Optimization</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Quality Assurance/ Management')}}" data-topic-criteria="Operations">Quality Assurance/ Management</li>

								</ul>
							</span>							
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>PROJECT MANAGEMENT</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>

									<li class="{{ mentor.programs[0].topics|is_topic('Agile Product Development')}}" data-topic-criteria="Project Management">Agile Product Development</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Lean Startup Methodology')}}" data-topic-criteria="Project Management">Lean Startup Methodology</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Project Management Tools')}}" data-topic-criteria="Project Management">Project Management Tools</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Scrum')}}" data-topic-criteria="Project Management">Scrum</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags">
							<label><b>SALES</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>								

									<li class="{{ mentor.programs[0].topics|is_topic('Sales Funnel')}}" data-topic-criteria="Sales">Sales Funnel</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Sales Management')}}" data-topic-criteria="Sales">Sales Management</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Sales Process')}}" data-topic-criteria="Sales">Sales Process</li>

								</ul>
							</span>
						</div>
						<hr>
						<div class="row-fluid tags" id="">
							<label><b>TECHNOLOGY</b></label>
						</div>
						<div class="row-fluid">
							<span>
								<ul>

									<li class="{{ mentor.programs[0].topics|is_topic('Advanced Web Applications')}}" data-topic-criteria="Technology">Advanced Web Applications</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Algorithms')}}" data-topic-criteria="Technology">Algorithms</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Analytics')}}" data-topic-criteria="Technology">Analytics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Android')}}" data-topic-criteria="Technology">Android</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Artificial Intelligence')}}" data-topic-criteria="Technology">Artificial Intelligence</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Big Data')}}" data-topic-criteria="Technology">Big Data</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Computer Graphics')}}" data-topic-criteria="Technology">Computer Graphics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Copywriting')}}" data-topic-criteria="Technology">Copywriting</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Data Mining')}}" data-topic-criteria="Technology">Data Mining</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Database')}}" data-topic-criteria="Technology">Database</li>

                                    <li class="{{ mentor.programs[0].topics|is_topic('HTML5')}}" data-topic-criteria="Technology">HTML5</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Infrastructure Scaling')}}" data-topic-criteria="Technology">Infrastructure Scaling</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Interactive User Interfaces')}}" data-topic-criteria="Technology">Interactive User Interfaces</li>

									<li class="{{ mentor.programs[0].topics|is_topic('J2ME')}}" data-topic-criteria="Technology">J2ME</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Java')}}" data-topic-criteria="Technology">Java</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Linux')}}" data-topic-criteria="Technology">Linux</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Mathematics')}}" data-topic-criteria="Technology">Mathematics</li>

									<li class="{{ mentor.programs[0].topics|is_topic('NLP')}}" data-topic-criteria="Technology">NLP</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Networking')}}" data-topic-criteria="Technology">Networking</li>

									<li class="{{ mentor.programs[0].topics|is_topic('NoSQL + Memcached')}}" data-topic-criteria="Technology">NoSQL + Memcached</li>

									<li class="{{ mentor.programs[0].topics|is_topic('PHP')}}" data-topic-criteria="Technology">PHP</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Performace Optimization')}}" data-topic-criteria="Technology">Performace Optimization</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Python')}}" data-topic-criteria="Technology">Python</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Ruby on Rails')}}" data-topic-criteria="Technology">Ruby on Rails</li>

									<li class="{{ mentor.programs[0].topics|is_topic('SEO')}}" data-topic-criteria="Technology">SEO</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Security')}}" data-topic-criteria="Technology">Security</li>

									<li class="{{ mentor.programs[0].topics|is_topic('Server Side')}}" data-topic-criteria="Technology">Server Side</li>

									<li class="{{ mentor.programs[0].topics|is_topic('System Analysis And Design')}}" data-topic-criteria="Technology">System Analysis And Design</li>

									<li class="{{ mentor.programs[0].topics|is_topic('iOS')}}" data-topic-criteria="Technology">iOS</li>								

								</ul>
							</span>
						</div>

					</div>
				</div>
			</div>
		  </div>									  
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>

		<div id="sectorModal" class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>Edit Industries</h3>
		  </div>
		  <div class="modal-body">
		  	<div class="row-fluid">
		  		<div class="">
					<div class="row-fluid skills" id="industries">
						<div class="row-fluid">
							<span>
								<ul>

									<li class="{{ mentor.programs[0].sectors|is_topic('Advertising')}}" data-topic-criteria="Industry">Advertising</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Clean Tech')}}" data-topic-criteria="Industry">Clean Tech</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Cloud Services')}}" data-topic-criteria="Industry">Cloud Services</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Education')}}" data-topic-criteria="Industry">Education</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Enterprise Software')}}" data-topic-criteria="Industry">Enterprise Software</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Events')}}" data-topic-criteria="Industry">Events</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Fashion')}}" data-topic-criteria="Industry">Fashion</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Financial Services')}}" data-topic-criteria="Industry">Financial Services</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Games')}}" data-topic-criteria="Industry">Games</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Hardware')}}" data-topic-criteria="Industry">Hardware</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Healthcare')}}" data-topic-criteria="Industry">Healthcare</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Media')}}" data-topic-criteria="Industry">Media</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Mobile')}}" data-topic-criteria="Industry">Mobile</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Music')}}" data-topic-criteria="Industry">Music</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Payments')}}" data-topic-criteria="Industry">Payments</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Photography')}}" data-topic-criteria="Industry">Photography</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Recruting')}}" data-topic-criteria="Industry">Recruting</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Retail')}}" data-topic-criteria="Industry">Retail</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('SMB')}}" data-topic-criteria="Industry">SMB</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Social Impact')}}" data-topic-criteria="Industry">Social Impact</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Social Media')}}" data-topic-criteria="Industry">Social Media</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Sports')}}" data-topic-criteria="Industry">Sports</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Travel')}}" data-topic-criteria="Industry">Travel</li>
								
									<li class="{{ mentor.programs[0].sectors|is_topic('Video')}}" data-topic-criteria="Industry">Video</li>

								</ul>
							</span>
						</div>
					</div>
				</div>
			</div>
		  </div>									  
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>

		<div id="skillsModal" class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>Edit Key Skills</h3>
		  </div>
		  <div class="modal-body">
		  	<div class="row-fluid">
		  		<!-- <div class=""> -->
					<!-- <div class="row-fluid skills" id="key-skills" style="width: 95%;"> -->
<!-- 						<div class="row-fluid">
							<span>
								<ul>
								
									<li class="{{ mentor.programs[0].key_skills|is_topic('Legal Expert')}}" data-topic-criteria="Key Skill">
										Legal Expert
									</li>
																
									<li class="{{ mentor.programs[0].key_skills|is_topic('SEO Expert')}}" data-topic-criteria="Key Skill">
										SEO Expert
									</li>
								
									<li class="{{ mentor.programs[0].key_skills|is_topic('Scaling Expert')}}" data-topic-criteria="Key Skill">
										Scaling Expert
									</li>								
								
									<li class="{{ mentor.programs[0].key_skills|is_topic('UI/UX Expert')}}" data-topic-criteria="Key Skill">
										UI/UX Expert
									</li>
								
									<li class="{{ mentor.programs[0].key_skills|is_topic('Virality Expert')}}" data-topic-criteria="Key Skill">
										Virality Expert
									</li>

								</ul>
							</span>
						</div> -->

						<div id="key_skills_container" class="row-fluid">	
							<figure class="span1"></figure>				
					        <figure class="span2 skills {{ mentor.programs[0].key_skills|is_topic('Legal Expert')}}" data-topic-criteria="Legal Expert" id="figure2" style="float:left;" class="key_skills">
							  <img src="../scripts/assets/img/key_skills/legal.png" alt="Legal Expert" style="width:100%;">
							  <figcaption>Legal Expert</figcaption>
							</figure>

					        <figure class="span2 skills {{ mentor.programs[0].key_skills|is_topic('Scaling Expert')}}" data-topic-criteria="Scaling Expert" id="figure2" style="float:left;" class="key_skills">
							  <img src="../scripts/assets/img/key_skills/scaling.png" alt="Scaling Expert" style="width:100%;">
							  <figcaption>Scaling Expert</figcaption>
							</figure>
					        
					        <figure class="span2 skills {{ mentor.programs[0].key_skills|is_topic('SEO Expert')}}" data-topic-criteria="SEO Expert" id="figure2" style="float:left;" class="key_skills">
							  <img src="../scripts/assets/img/key_skills/seo.png" alt="SEO Expert" style="width:100%;">
							  <figcaption>SEO Expert</figcaption>
							</figure>
					        
					        <figure class="span2 skills {{ mentor.programs[0].key_skills|is_topic('UI/UX Expert')}}" data-topic-criteria="UI/UX Expert" id="figure2" style="float:left;" class="key_skills">
							  <img src="../scripts/assets/img/key_skills/uiux.png" alt="UI/UX Expert" style="width:100%;">
							  <figcaption>UI/UX Expert</figcaption>
							</figure>
					        
					        <figure class="span2 skills {{ mentor.programs[0].key_skills|is_topic('Virality Expert')}}" data-topic-criteria="Virality Expert" id="figure2" style="float:left;" class="key_skills">
							  <img src="../scripts/assets/img/key_skills/virality.png" alt="Virality Expert" style="width:100%;">
							  <figcaption>Virality Expert</figcaption>
							</figure>
							<figure class="span1"></figure>				
				        </div>

					<!-- </div> -->
				<!-- </div> -->
			</div>
		  </div>									  
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
		</div>

		<div id="contributionModal" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Hey there! What’ve you been working on?</h3>
			</div>
			<div class="modal-body" style="overflow-y: hidden;">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputCompany">Incubator Company</label>
						<div class="controls">
							<select id="inputCompany">
								{% if companies.count() > 0%}
								{% for company in companies.order("name") %}
								    <option value="{{company.name}}">{{company.name}}</option>
								{% endfor %}
								{% endif %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputHours">Number of Hours: </label>
						<div class="controls">
							<input type="number" id="inputHours" placeholder="hours completed" min="1" required="required">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputDescription">What did you work on?</label>
						<div class="controls">
						  <textarea rows="12" class="span4" id="inputDescription"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label  style="text-align:center">Thanks! A copy of this will be sent to MEST admins as well as the CEO of the company you supported. It will also be visible on your profile page.</label>
					</div>
				</form>
			</div>									  
			<div class="modal-footer">
				<button class="btn btn-default" id="submit-contribution" data-loading-text="Loading...">Add Hours</button>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="../../scripts/bootstrap/js/bootstrap.min.js"></script>
    	<script src="../../scripts/js/ajax/editmentorprofile.ajax.js"></script>
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
    	 $('.des').popover();
    	 $('.tool').tooltip();
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Task', 'Hours Contributed'],
				// ['Hours Committed',     {{ mentor|hours_committed }}],
				['Hours Completed',     {{ mentor|hours_committed }}],
				['Hours Remaining',    {{ mentor|hours_left }} ]
	        ]);

	        var options = {
	          title: '',
	           colors:['#4d90fe','grey']
	        };

	        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
	        chart.draw(data, options);
	      }
	    </script>
	</body>
</html>
