
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keyowrds" content="mentor, tech africa, mest, tech, entrepreneur, entrepreneurship">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MEST Strike Force - Home</title>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Oxygen'>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Fondamento'>
        <link rel="stylesheet" href="../scripts/assets/css/bs.min.css">
        <link rel="stylesheet" href="../scripts/assets/bt-3css/index.css">
        <link rel="stylesheet" href="../scripts/assets/bt-3css/custom.css">
        <!-- <link rel="shortcut icon" href="../scripts/assets/img/favicon.ico"> -->
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-md-7">
                    <a href="http://www.meltwater.org/"><img class="logo" src="../scripts/assets/img/MEST-LOGO1.webp" alt=""></a>
                    <div class="headline"><!-- Mest Global Community --></div>
                    <div class="tagline"></div>
                </div>
      
                <div class="col-md-5 nav-links ">
					<ul class="">
						<li><a href="http://www.meltwater.org/">About</a></li>
						<li><a href="http://www.meltwater.org/the-program">School</a></li>
						<li><a href="http://www.meltwater.org/incubator">Incubator</a></li>
						<li><a href="http://blog.meltwater.org/">News</a></li>
					</ul>
				</div>
            </div>
        </div><!-- navbar ends -->
		

		

        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill slide1">
                    	<img src="../scripts/assets/img/win.png" alt="">
                    </div>
                    <div class="carousel-caption caption">
                        <h3>Inspire young tech entrepreneurs to excel</h3>
                        
                    </div>
                </div>
                <div class="item">
                    <div class="fill slide2">
                    	<img src="../scripts/assets/img/win.png" alt="">
                    </div>
                    <div class="carousel-caption caption">
                        <h3>It is a community of innovations, inspiration and achievement</h3>
                        
                    </div>
                </div>
                <div class="item">
                    <div class="fill slide3">
                    	<img src="../scripts/assets/img/win.png" alt="">
                    </div>
                    <div class="carousel-caption caption">
                        <h3>Generousity | Positivity | Standards </h3>
                    </div>
                </div>
                <div class="item">
                    <div class="fill slide4">
                    	<img src="../scripts/assets/img/win.png" alt="">
                    </div>
                    <div class="carousel-caption caption">
                        <h3>Share your experience with budding tech entrepreneurs</h3>
                       
                    </div>
                </div>
            <!-- <form method="POST" class="sign_up_mentor" action="/home"> -->
                <a href="/signup/mentor">
                    <button id="mentor-signup-button" class="button col-md-2 col-md-offset-4" name="action" value="sign_up_mentor">
                        Sign up now
                    </button>
                </a>
            <!-- </form>  -->
            </div>
                

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                </div>
            </div>
            <div class="row features">
                <div class="col-md-3">
                <span class=""></span><br>
                <strong>Field Mentors</strong> <br><p>We invite professionals having expertise in certain fields (e.g. Email Marketing, Branding, Infrastructure Scaling, Feature phone expertise etc.) to help specific problems or challenges our companies are facing. <br><a href="/programs">read more</a></p></div>
                <div class="col-md-3">
                <span class=""></span><br>
                <strong>MBA Consultants</strong><br><p>Our top companies need extra resources to help them better analyze markets, evaluate competition, research channel partners, prospect investment opportunities and propose strategy recommendations.<br><a href="/programs">read more</a></p></div>
                <div class="col-md-3">
                <span class=""></span><br>
                <strong>Senior Advisors</strong><br><p>Senior advisors would be working closely with one of our portfolio companies. We would count on our mentors to provide strategic ...<br><a href="/programs">read more</a></p></div>
                <div class="col-md-3">
                <span class=""></span><br>
                <strong>Expert in Residence</strong><br><p>Experts in Residence (EiR) program is a new initiative that gives mid-career professionals the opportunity to make a significant impact in Africa by contributing their expertise to our program.<br><a href="/programs">read more</a></p></div>
            </div>
        </div>
        
        <div class="row featured-mentors">
	        <div class="container">
	            <div class="col-md-3">
		            <span class="ment-img">
		            	<a href="http://www.linkedin.com/in/andrewlgottlieb">
		            		<img class="mentor_image"src="../scripts/img/andrew_gottlieb.jpg" alt="img04">
		            	</a>
		            </span><br>
		            <div class="row text-center">
		            	<span ><strong class="mentor-name"><a href="http://www.linkedin.com/in/andrewlgottlieb">Andrew Gottlieb</a></strong> 
		            	</span>
		            </div>
	            </div>

	            <div class="col-md-3">
		            <span class="ment-img">
		            	<a href="http://uk.linkedin.com/pub/andrei-stephens/b/537/358"> 
		            		<img class="mentor_image" src="../scripts/img/andrei_stephens.jpg" alt="img04">
		            	</a>
		            </span><br>
		            <div class="row text-center">
		            	<span ><strong class="mentor-name"><a href="http://uk.linkedin.com/pub/andrei-stephens/b/537/358">Andrei Stephens</a></strong></span>
		        	</div>
	            </div>

	            <div class="col-md-3">
	            <span class="ment-img">
	            	<a href="http://ru.linkedin.com/in/michaelgeer/">
	            		<img class="mentor_image" src="../scripts/img/michael_geer.jpg" alt="img04">
	            	</a>
	            </span><br>
	            <div class="row text-center">
	            <span ><strong class="mentor-name"><a href="http://ru.linkedin.com/in/michaelgeer/">Michael Geer</a></strong></span></div>
	            </div>

	            <div class="col-md-3">
	            <span class="ment-img">
	            	<a href="http://newsle.com/person/susannahraub/5037711#reloaded">
	            		<img class="mentor_image" src="../scripts/img/sraub.jpg" alt="img04">
	            	</a>
	            </span><br>
	            <div class="row text-center">
	            <span ><strong class="mentor-name"><a href="http://newsle.com/person/susannahraub/5037711#reloaded">Susannah Raub</a></strong></span></div></div>
	        </div>  
        </div>
<!-- FOOTER -->
	<footer class="nav">
		<div class="container">
			<div id="social-media">
				<ul>
					<li><a href="http://www.facebook.com/pages/Accra-Ghana/Meltwater-Entrepreneurial-School-of-Technology/63789311326?ref=ts"><img src="../scripts/assets/img/social-icon/facebook.png"></a></li>
					<li><a href="http://twitter.com/MESTghana"><img src="../scripts/assets/img/social-icon/twitter.png"></a></li>
					<li><a href=""><img src="../scripts/assets/img/social-icon/googleplus.png"></a></li>
					<li><a href="http://www.linkedin.com/companies/583588"><img src="../scripts/assets/img/social-icon/linkedin.png"></a></li>
					<li><a href=""><img src="../scripts/assets/img/social-icon/rss.png"></a></li>
					<li><a href="mailto:meltwater@melwater.org"><img src="../scripts/assets/img/social-icon/mail.png"></a></li>
				</ul>
			</div>
			<p><a href="#">&#169;2013   meltwater entreprenuerial school of technology</a></p>
		</div>
	</footer>

        <script src="../scripts/assets/js/jquery-2.0.3.min.js"></script>
        <script src="../scripts/assets/js/bs.min.js"></script>
    </body>
</html>