<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MEST Global Community - Mentor Programs</title>
        <meta name="description" content="">
        <meta name="keyowrds" content="mentor, tech africa, mest, tech, entrepreneur, entrepreneurship">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Oxygen'>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Fondamento'>
        <link rel="stylesheet" href="../scripts/assets/bt-3css/index.css">
        <link rel="stylesheet" href="../scripts/assets/css/bs.min.css">
		<link rel="stylesheet" type="text/css" href="../scripts/assets/bt-3css/mentor-program.css">
        <!-- <link rel="stylesheet" href="../scripts/assets/bt-3css/custom.css"> -->

<!-- start Dropifi --> <script type='text/javascript' src='https://s3.amazonaws.com/dropifi/js/widget/dropifi_widget.min.js'></script><script type='text/javascript'>document.renderDropifiWidget('d50c6bd9e2b036bdbc82532cf493b82a-1384997155883');</script> <!-- end Dropifi -->
	</head>

	<body class="main-body-container">
		<div class="row navrow">
			<div class="container nav">
	            <div class="row header">
	                <div class="col-md-7">
	                    <a href="http://www.meltwater.org/"><img class="logo" src="../scripts/assets/img/MEST-LOGO1.webp" alt="studychum logo"></a>
	                    <div class="headline"><!-- Mest Global Community --></div>
	                    <div class="tagline"></div>
	                </div>
	      
	                <div class="col-md-5 nav-links ">
						<ul class="">
							<li><a href="http://www.meltwater.org/">About</a></li>
							<li><a href="http://www.meltwater.org/the-program">School</a></li>
							<li><a href="http://www.meltwater.org/incubator">Incubator</a></li>
							<li><a href="http://blog.meltwater.org/">News</a></li>
							<!-- <li><a href="">Get Involved</a></li> -->
						</ul>
					</div>
	            </div>
	        </div>
        </div>
		<!-- NAVBAR
		================================================== -->
	<!--  <nav class="navbar-wrapper">
			<div id="body-container"> -->
<!-- 
			</div> /.container
		</nav>/.navbar-wrapper
 -->
		

		
<!-- BODY CONTENT 
================================================================-->
		<div class="container" id="body-content">

			<!-- LEFT COLUMN -->
			<div class="span10" id="left-column">
				<div class="row" id="featured-mentors">
					<div class="row "><h2 class="featurette-heading col-md-offset-4">The Mentor Programs</h2>
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-1">
							<a href="http://www.linkedin.com/in/andrewlgottlieb"><img src="../scripts/img/andrew_gottlieb.jpg" alt="img04"></a>
						</div>
						<div class="col-md-6 col-md-offset-1 prog-description">
							<h3>Field Mentors</h3>
							<p>We invite professionals having expertise in certain fields (e.g. Email Marketing, Branding, Infrastructure Scaling, Feature phone expertise, etc.) to help specific problems or challenges our companies are facing. Mentors are also encouraged to provide ongoing support in their field.
						    </p>	

							<p><strong>Commitment: </strong><br>From a one hour phone call to a longer term commitment. Meet one of our <em>Field Mentors</em> <a href="http://www.linkedin.com/in/andrewlgottlieb">Andrew Gottlieb</a>  
							</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-2 col-md-offset-1">
							<a href="http://uk.linkedin.com/pub/andrei-stephens/b/537/358"><img src="../scripts/img/andrei_stephens.jpg" alt="img04"></a>
						</div>
						<div class="col-md-6 col-md-offset-1 prog-description">
							<h3>MBA Consultants</h3>
							<p>Our top companies need extra resources to help them better analyze markets, evaluate competition, research channel partners, prospect investment opportunities and propose strategy recommendations. MBA students and recent business school graduates are invited to work with our companies. MBA consultants are encouraged to meet the entrepreneurs weekly via phone, e-mail and Skype from their location in the U.S. or Europe, and are offered the opportunity to travel to Accra at least once to conduct a workshop and meet the entrepreneurs in person.
							</p>
							<p><strong>Responsibilities</strong><br>
							Understand the start-up businesses: current assets, business model and growth options. Provide feedback and insight on competitive analysis, market research, financial projections and business strategy. Work with the companies on fundraising, preparing pitch decks and to help position themselves for attractive valuations in future rounds. Make argued recommendations on the best growth option to the start-ups board and executive team. </p>

							<p>The MBA consultant will be working closely with the company CEO (based in Ghana) and MEST incubator staff (based in SF).
							</p>
							<p><strong>Commitment</strong><br>
							Average commitment ranges from 2 to 4 hours a week + 1 week on ground in Accra. Meet one of our MBA Consultants  <a href="http://uk.linkedin.com/pub/andrei-stephens/b/537/358">Andrei Stephens</a></p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-2 col-md-offset-1">
							<a href="http://ru.linkedin.com/in/michaelgeer/"><img src="../scripts/img/michael_geer.jpg" alt="img04"></a>
						</div>
						<div class="col-md-6 col-md-offset-1 prog-description">
							<h3>Senior Advisors</h3>
							<p>Senior advisors would be working closely with one of our portfolio companies. We would count on our mentors to provide strategic advice on the main decisions the company is facing, as well as link the founders with the right necessary experts and other potential business partners.</p>

						    <p>Our advisors may also be requested to participate actively in certain projects/ fundraising.The team also may tap onto the advisors’ business network for recruiting purposes.</p>

						    <p><strong>Commitment <br/></strong> Our ideal mentors would join company specific monthly calls with the incubator staff, as well as be dialed in during our quarterly board meetings. Board seats and company equity would be considered for a long term commitment.Meet one of our company specific advisors <a href="http://ru.linkedin.com/in/michaelgeer/">Michael Geer</a> for Saya.</p>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-2 col-md-offset-1">
							<a class="name-ment" href="http://newsle.com/person/susannahraub/5037711#reloaded"><img src="../scripts/img/sraub.jpg" alt="img04"></a>
						</div>
						<div class="col-md-6 col-md-offset-1 prog-description">
							<h3>Experts in Residence</h3>
							<p>Experts in Residence (EiR) program is a new initiative that gives mid-career professionals the opportunity to make a significant impact in Africa by contributing their expertise to our program. As an expert in residence you will augment the expertise of the resident teaching fellows with your 5-10 years of real-world experience in your field.</p>

							<p>EiR should have an entrepreneurial spirit, the desire to help people, and a sense of adventure. You will be working within a team with one mission: help MEST students/ companies create globally successful software companies.</p>

							<p>Our program is fast, flexible, and innovative so the skills you will learn will give you an advantage in whatever you decide to do next.
							</p>
							<p><strong>Commitment</strong><br>
							6-8 weeks in Accra, Ghana. Housing and meals provided. Meet one of our Experts in Residence <a href="http://newsle.com/person/susannahraub/5037711#reloaded">Susannah Raub</a></p>
						</div>
					</div>
				
				
				</div>
<!-- 				<div class="span4 offset3">
					<button id="mentor-signup-button" class="button" name="action" value="sign_up_mentor">Appy now!</button>
					</div> -->
	            <form method="POST" class="sign_up_mentor">
	                <button id="mentor-signup-button" class="button col-md-2 col-md-offset-4" name="action" value="sign_up_mentor">
	                Signup now
	                </button>
	            </form> 
			</div>
		</div> <!-- body-content ends -->
		

<!-- FOOTER 
================================================================-->
	<div class="row">
		<footer class="nav">
		<div class="container">
			<div id="social-media">
				<ul>
					<li><a href="http://www.facebook.com/pages/Accra-Ghana/Meltwater-Entrepreneurial-School-of-Technology/63789311326?ref=ts"><img src="../scripts/assets/img/social-icon/facebook.png"></a></li>
					<li><a href="http://twitter.com/MESTghana"><img src="../scripts/assets/img/social-icon/twitter.png"></a></li>
					<li><a href=""><img src="../scripts/assets/img/social-icon/googleplus.png"></a></li>
					<li><a href="http://www.linkedin.com/companies/583588"><img src="../scripts/assets/img/social-icon/linkedin.png"></a></li>
					<li><a href=""><img src="../scripts/assets/img/social-icon/rss.png"></a></li>
					<li><a href="mailto:meltwater@melwater.org"><img src="../scripts/assets/img/social-icon/mail.png"></a></li>
				</ul>
			</div>
			<p><a href="#">&#169;2013   meltwater entreprenuerial school of technology</a></p>
		</div>
	</footer>
	</div>
	
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
 <script src="../scripts/js/jquery-2.0.3.min.js"></script>
 <script src="../scripts/js/modernizr.custom.js"></script>
 <script src="../scripts/js/toucheffects.js"></script>
<!-- <script src="js/jquery.flexslider-min.js"></script> -->
 <script src="../scripts/bootstrap/js/bootstrap.js"></script>
 <script src="../scripts/js/ajax/home.ajax.js"></script>
 <script type="text/javascript">
	 $(document).ready(function(){
	 		$('#entrepreneur-signup-button').tooltip();
	 		$('#signin').tooltip();
	 });
 </script>
</body>
</html>

