<img src="../../scripts/assets/img/mentorbadges/BadgeAfterMentorSubmitsHours.png" alt="">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">	
	<div class="row-fluid">
		<div class="span8 pull-right">

			<b>Thank you, {{ mentor.first_name}}!</b>
			<br>
			<br>
			We’ve updated your profile to reflect the time you’ve spent supporting Meltwater Incubator entrepreneurs!
			<br>
			<br>
			We’ve also sent a copy to MEST administrators, as well as the CEO of the company you assisted. Again, thank you for your support. We appreciate it immensely.
			<br>
			<br>
			Warm regards,<br>	
			The MEST Team	

		</div>		  		
	</div>
</div>									  
<div class="modal-footer">
</div>