<img src="../../scripts/assets/img/mentorbadges/BadgeAfterMentorSubmitsHours.png" alt="">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">	
	<div class="row-fluid">
		<div class="span8 pull-right">
			Thank you, {{ mentor.first_name}}!
			<br>
			<br>
			We’ve shared details of your hard work with MEST admins, as well as the CEO of the company you supported. Thank you again for your support!
			<br>
			<br>
			Warm regards,<br>
			The MEST Team
		</div>		  		
	</div>
</div>									  
<div class="modal-footer">
</div>