<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MEST STRIKE FORCE</title>
    <link href="../scripts/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../scripts/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../scripts/assets/bt-3css/index.css">
    <link rel="stylesheet" href="../scripts/assets/bt-3css/custom.css">
  </head>

  <body>
    <br>
    <div class="container">
      <div class="row header">
        <div class="span7">
          <a href="/home"><img class="logo" src="../scripts/assets/img/MEST-LOGO1.webp" alt=""></a>
          <div class="headline"><!-- Mest Global Community --></div>
          <div class="tagline"></div>
        </div>
        <div class="span5 nav-links ">
          <ul class="">
            <li><a href="http://www.meltwater.org/">About</a></li>
            <li><a href="http://www.meltwater.org/the-program">School</a></li>
            <li><a href="http://www.meltwater.org/incubator">Incubator</a></li>
            <li><a href="http://blog.meltwater.org/">News</a></li>
          </ul>
        </div>
      </div>
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="hero-unit" style="text-align: center; background:#fff;">
            <p>We’ve received your request to join the MEST Strike Force. Thank you!</p>
            <a href="/home" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Go Back</a>
          </div>
            <br />
        </div>
      </div>
    </div>

  </body>
</html>