<!DOCTYPE html>
<html>
    
    <head>
        <title>Mentors</title>
        <!-- Bootstrap -->

        <link href="../scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../scripts/admin/assets/styles.css" rel="stylesheet" media="screen">
        <style>
        .navbar .navbar-inner ul li a:hover {
            color: #e5e5e5;
            border-bottom: 2px solid #5882FA;
        }
        </style>


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="../scripts/admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>


    </head>
    
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
             <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a href="/" class="brand">MEST Strike Force</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">                            
                            <li class="active"><a href="/admin">Dashboard</a></li>
                            <li><a href="/search">Search</a></li>
                            <li><a href="/messages">Messages</a></li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{user.first_name}} {{user.last_name}} <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a tabindex="-1" href="/signout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li>
                            <a href="/admin"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/admin/entrepreneur" id="admin-entrepreneur"><i class="icon-chevron-right"></i> Entrepreneurs </a>
                        </li>
                        <li class="active">
                            <a href="/admin/mentor" id="admin-mentor"><i class="icon-chevron-right"></i> Mentors </a>
                        </li>
                        <li>
                            <a href="/admin/companies"><i class="icon-chevron-right"></i> MINC Companies </a>
                        </li>
<!--                         <li>
                            <a href="/admin/resources  "><i class="icon-chevron-right"></i> Resources</a>
                        </li> -->
                        <li>
                            <a href="/search  "><i class="icon-chevron-right"></i> Search </a>
                        </li>
                         <li>
                            <a href="/messages  "><i class="icon-chevron-right"></i> Message Center </a>
                        </li> 
                    </ul>
                </div>
                    
                
                <div class="span9" id="content">

                    <!-- =====================PENDING======================= -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="pull-left muted">Mentors pending confirmation</div>
                                <div class="pull-right">
                                    <span class="badge badge-info">{{new_mentors.count()}}</span>
                                </div>
                            </div>
                            <div class="block-content collapse in">
                                
                                
                                <div class="span12">
                                    {% if new_mentors.count()>0 %}
                                    <table class="table table-striped pending_mentors">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Program</th>
                                                <th>Date created</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            {% set count = 0 %}
                                            {% for new_mentor in new_mentors %}
                                            <tr class="pending {{new_mentor.key().id()}}">
                                                {% set count = count+1 %}
                                                <td>
                                                    <a href="/mentor/profile/{{new_mentor.key().id()}}" target="_blank">{{count}}</a>
                                                </td>
                                                <td>
                                                    <a href="/mentor/profile/{{new_mentor.key().id()}}" target="_blank">{{new_mentor.first_name}}</a>
                                                </td>
                                                <td>
                                                    <a href="/mentor/profile/{{new_mentor.key().id()}}" target="_blank">{{new_mentor.last_name}}</a>
                                                </td>
                                                <td>
                                                    {{new_mentor.email}}
                                                </td>

                                                {% for prog in new_mentor.programs%}
                                                <td>{{prog.program_type}}</td>
                                                {% endfor %}
                                                <td>
                                                    {{new_mentor.created.strftime("%d %B %Y %H:%M")}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-mini confirm-user-btn confirm {{new_mentor.key().id()}}" data-id="{{new_mentor.key().id()}}" data-profile="mentor" data-action="confirm">Confirm</button>
                                                    <button class="btn btn-mini confirm-user-btn decline {{new_mentor.key().id()}}" data-id="{{new_mentor.key().id()}}" data-profile="mentor" data-action="decline">Decline</button>
                                                </td>
                                            </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                    {% else%}
                                        <h5 class="muted" style="text-align:center">No pending requests at the moment</h5>
                                    {% endif %}
                                </div>

                            </div>
                        
                        </div>
                        <!-- /block -->
                    </div>

                   <!-- =====================MENTORS===================== -->
                    <div class="row-fluid Mentor">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="pull-left muted">MEST Strike Force</div>
                                <div class="pull-right">
                                    <span class="badge badge-info">{{mentors|length}}</span>
                                </div>
                            </div>  
                            <div class="block-content collapse in">
                                
                                
                                <div class="span12">
                                    {% if mentors|length > 0%}
                                    <table class="table table-striped Mentor">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Program</th>                                            
                                                <th>Date confirmed</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            {% set count = 0 %}
                                            {% for mentor in mentors %}
                                            <tr>
                                                {% set count = count+1 %}
                                                <td>
                                                    <a href="/mentor/profile/{{mentor.key().id()}}" target="_blank">{{count}}</a>
                                                </td>
                                                <td>
                                                    <a href="/mentor/profile/{{mentor.key().id()}}" target="_blank">{{mentor.first_name}}</a>
                                                </td>
                                                <td>
                                                    <a href="/mentor/profile/{{mentor.key().id()}}" target="_blank">{{mentor.last_name}}</a>
                                                </td>
                                                <td>
                                                    {{mentor.email}}
                                                </td>
                                                {% for prog in mentor.programs%}
                                                <td>{{prog.program_type}}</td>
                                                {% endfor %}
                                                <td>
                                                    {{mentor.confirmed.strftime("%d %B %Y %H:%M")}}
                                                </td>
                                                <td><button class="btn btn-mini btn-primary remove-user" data-profile="mentor" data-id="{{mentor.key().id()}}">Remove</button></td>
                                            </tr>
                                            {% endfor%}
                                        </tbody>
                                        </tbody>
                                    </table>
                                    {% else%}
                                        <h5 class="muted" style="text-align:center">No confirmed mentors at the moment</h5>
                                    {% endif %}
                                </div>

                            </div>
                        
                        </div>
                        <!-- /block -->
                    </div>

                    <!-- =====================DECLINED======================= -->
                    <div class="declined row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="pull-left muted">Declined requests</div>
                                <div class="pull-right">
                                    <span class="badge badge-info">{{declined_mentors.count()}}</span>
                                </div>
                            </div>
                            <div class="block-content collapse in">
                                
                                
                                <div class="span12">
                                    {% if declined_mentors.count()>0 %}
                                    <table class="table table-striped pending_mentors">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Email</th>
                                                <th>Program</th>
                                                <th>Date declined</th>
                                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            {% set count = 0 %}
                                            {% for declined_mentor in declined_mentors %}
                                            <tr class="pending {{declined_mentor.key().id()}}">
                                                {% set count = count+1 %}
                                                <td>
                                                    <a href="{{declined_mentor.linkedin_profile}}" target="_blank">{{count}}</a>
                                                </td>
                                                <td>
                                                    <a href="{{declined_mentor.linkedin_profile}}" target="_blank">{{declined_mentor.first_name}}</a>
                                                </td>
                                                <td>
                                                    <a href="{{declined_mentor.linkedin_profile}}" target="_blank">{{declined_mentor.last_name}}</a>
                                                </td>
                                                <td>
                                                    {{declined_mentor.email}}
                                                </td>
                                                {% for prog in declined_mentor.programs%}
                                                <td>{{prog.program_type}}</td>
                                                {% endfor %}
                                                <td>
                                                    {{declined_mentor.declined.strftime("%d %B %Y %H:%M")}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-mini confirm-user-btn confirm {{declined_mentor.key().id()}}" data-id="{{declined_mentor.key().id()}}"data-profile="mentor"  data-action="confirm">Restore</button>
                                                    <button class="btn btn-mini btn-primary delete-user" data-profile="mentor" data-id="{{declined_mentor.key().id()}}">Delete</button>
                                                </td>
                                            </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                    {% else%}
                                        <h5 class="muted" style="text-align:center">No declined requests at the moment</h5>
                                    {% endif %}
                                </div>
                            </div>
                        
                        </div>
                        <!-- /block -->
                    </div> 

                </div>
            </div>
        </div>
        <!--/.fluid-container-->


        <script src="../scripts/admin/vendors/jquery-1.9.1.min.js"></script>
        <script src="../scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../scripts/admin/assets/scripts.js"></script>
        <script src="../scripts/js/ajax/admin.confirm.user.ajax.js"></script>

    </body>

</html>